<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/recipes">Recipe Book</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/recipes">Recipes</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/shopping-list">Shopping List</a>
      </li>
      <!-- We have to add "show" class to below link to show the group -->
      <!-- <li class="nav-item dropdown" [ngClass]="{ show: dropdown }">
        <a class="nav-link dropdown-toggle" (click)="dropdown = !dropdown">
          Manage
        </a>

        <div class="dropdown-menu" [ngClass]="{ show: dropdown }">
          <a class="dropdown-item">Save Data</a>
          <a class="dropdown-item">Fetch Data</a>
        </div>
      </li> -->
    </ul>
  </div>
</nav>
